@import "normalize.css";
@import "grids.css";
@import "main.css";
@import "notosanstc.css";

p{
    margin: 0px;
}

ul{
    padding-left: 0px;
    margin: 0px;
}

li{
    list-style: none;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}